[package]
name = "floem"
version = "0.1.0"
edition = "2021"
license.workspace = true

[dependencies]
sha2 = "0.10.6"
bitflags = "2.2.1"
indexmap = "2"
rustc-hash = "1.1.0"
clipboard = "0.5.0"
smallvec = "1.10.0"
educe = "0.4.20"
taffy = "0.3.13"
rfd = { version = "0.11.4", default-features = false, features = ["xdg-portal"] }
raw-window-handle = "0.5.1"
kurbo = { version = "0.9.5", features = ["serde"] }
unicode-segmentation = "1.10.0"
peniko = { git = "https://github.com/linebender/peniko", rev = "cafdac9a211a0fb2fec5656bd663d1ac770bcc81" }
crossbeam-channel = "0.5.6"
once_cell = "1.17.1"
im = "15.1.0"
parking_lot = { version = "0.12.1" }
floem_renderer = { path = "renderer" }
floem_vger = { path = "vger" }
floem_reactive = { path = "reactive" }
winit = { git = "https://github.com/lapce/winit", rev = "25edc72fa4869d0fa83c61c26f0e38d7d7be9b0d" }
# winit = { path = "../winit" }

[features]
serde = ["winit/serde"]

[workspace]
members = ["renderer", "vger", "reactive", "examples/*"]

[workspace.package]
license = "MIT"
