[workspace]
resolver = "2"
members = ["renderer", "vger", "tiny_skia", "reactive", "editor-core", "examples/*"]

[workspace.package]
license = "MIT"
version = "0.1.1"

[package]
name = "floem"
version.workspace = true
authors = ["The Floem contributors"]
readme = "README.md"
repository = "https://github.com/lapce/floem"
description = "A native Rust UI library with fine-grained reactivity"
edition = "2021"
rust-version = "1.75"
license.workspace = true

[workspace.dependencies]
serde = "1.0"
lapce-xi-rope = { version = "0.3.2", features = ["serde"] }
strum = "0.21.0"
strum_macros = "0.21.1"
once_cell = "1.17.1"

[dependencies]
sha2 = "0.10.6"
bitflags = "2.2.1"
indexmap = "2"
rustc-hash = "1.1.0"
smallvec = "1.10.0"
educe = "0.4.20"
taffy = { version = "0.4", features = ["grid"] }
rfd = { version = "0.11.4", default-features = false, features = [
    "xdg-portal",
] }
raw-window-handle = "0.5.1"
kurbo = { version = "0.9.5", features = ["serde"] }
unicode-segmentation = "1.10.0"
floem-peniko = "0.1.0"
crossbeam-channel = "0.5.6"
im = "15.1.0"
im-rc = "15.1.0"
serde = { workspace = true, optional = true }
lapce-xi-rope = { workspace = true, optional = true }
strum = { workspace = true, optional = true }
strum_macros = { workspace = true, optional = true }
# TODO: once https://github.com/rust-lang/rust/issues/65991 is stabilized we don't need this
downcast-rs = { version = "1.2.0", optional = true }
parking_lot = { version = "0.12.1" }
floem_renderer = { path = "renderer", version = "0.1.0" }
floem_vger_renderer = { path = "vger", version = "0.1.0" }
floem_tiny_skia_renderer = { path = "tiny_skia", version = "0.1.0" }
floem_reactive = { path = "reactive", version = "0.1.0" }
floem-winit = { version = "0.29.4", features = ["rwh_05"] }
floem-editor-core = { path = "editor-core", version = "0.1.0", optional = true }
image = { version = "0.24", features = ["jpeg", "png"] }
copypasta = { version = "0.10.0", default-features = false, features = ["wayland", "x11"] }
once_cell.workspace = true

[features]
default = ["editor"]
# TODO: this is only winit and the editor serde, there are other dependencies that still depend on 
# serde
serde = ["floem-winit/serde", "dep:serde"]
editor = ["floem-editor-core", "dep:lapce-xi-rope", "dep:strum", "dep:strum_macros", "dep:downcast-rs"]
