[package]
name = "floem"
version = "0.1.0"
edition = "2021"

[dependencies]
sha2 = "0.10.6"
bitflags = "1.3.2"
indexmap = "1.9.2"
rustc-hash = "1.1.0"
smallvec = "1.10.0"
educe = "0.4.20"
taffy = "0.3.11"
leptos_reactive = { version = "0.2.5", features = ["stable"] }
glazier = { git = "https://github.com/linebender/glazier", features = ["serde"], rev = "58cd5a4968dc2823f075097d12f274d5466aea94" }
vello = { git = "https://github.com/linebender/vello", rev = "2f268d4e0f8596c2c05f4982ddc558e1cae0ffa2" }
vello_svg = { git = "https://github.com/linebender/vello", rev = "2f268d4e0f8596c2c05f4982ddc558e1cae0ffa2" }
wgpu = "0.15"
futures = "0.3.26"
tokio = { version = "1.21", features = ["full"] }
crossbeam-channel = "0.5.6"
once_cell = "1.17.1"
im = "15.1.0"
parking_lot = { version = "0.12.1" }
floem_renderer = { path = "renderer" }
floem_vger = { path = "vger" }

[workspace]
members = ["renderer", "vger", "examples/*"]
