[package]
name = "floem"
version = "0.1.0"
authors = ["The Floem contributors"]
readme = "README.md"
repository = "https://github.com/lapce/floem"
description = "A native Rust UI library with fine-grained reactivity"
edition = "2021"
rust-version = "1.75"
license.workspace = true

[dependencies]
sha2 = "0.10.6"
bitflags = "2.2.1"
indexmap = "2"
rustc-hash = "1.1.0"
smallvec = "1.10.0"
educe = "0.4.20"
taffy = {version = "0.3.18", features = ["grid"]}
rfd = { version = "0.11.4", default-features = false, features = [
    "xdg-portal",
] }
raw-window-handle = "0.5.1"
kurbo = { version = "0.9.5", features = ["serde"] }
unicode-segmentation = "1.10.0"
floem-peniko = "0.1.0"
crossbeam-channel = "0.5.6"
once_cell = "1.17.1"
im = "15.1.0"
im-rc = "15.1.0"
parking_lot = { version = "0.12.1" }
floem_renderer = { path = "renderer" }
floem_vger = { path = "vger" }
floem_tiny_skia = { path = "tiny_skia" }
floem_reactive = { path = "reactive" }
floem-winit = { version = "0.29.4", features = ["rwh_05"] }
image = { version = "0.24", features = ["jpeg", "png"] }
copypasta = { version = "0.10.0", default-features = false, features = ["wayland", "x11"] }

[features]
serde = ["floem-winit/serde"]

[workspace]
members = ["renderer", "vger", "tiny_skia", "reactive", "examples/*"]

[workspace.package]
license = "MIT"
