[package]
name = "floem_store_derive"
version = "0.2.0"
edition = "2021"
license = "MIT"
description = "Derive macros for floem_store"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full", "parsing"] }
