[package]
name = "floem_renderer"
version.workspace = true
edition = "2021"
repository = "https://github.com/lapce/floem"
description = "A native Rust UI library with fine-grained reactivity"
license.workspace = true

[dependencies]
parking_lot = { workspace = true }
peniko = { workspace = true }
image = { workspace = true }
resvg = { workspace = true }
swash = { workspace = true }

cosmic-text = { version = "0.12.1", features = ["shape-run-cache"] }
